<div class="body-content bg-home">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<img class="logo" src="<%= asset_path 'logo_uni.png' %>" alt="Logo UniGeneration">
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h1 class="text-primary home-title">
					WELCOME TO UNIGENERATION SDN BHD
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="primary-box">
					<div class="primary-box__title">
						UNIGEN HEALTHCARE
					</div>
					<div class="primary-box__body">
						<img class="primary-box__img" src="<%= asset_path 'OCIFP90.png' %>" alt="UNIGEN HEALTHCARE">
						<div class="text-left text-md-center">
							<p class="primary-box__description">We create products to keep your loved ones safe</p>
							<button class="primary-box__button">Learn more</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="primary-box">
					<div class="primary-box__title">
						UNIGEN HR PARTNERS
					</div>
					<div class="primary-box__body">
						<img class="primary-box__img" src="<%= asset_path 'OCIFP90.png' %>" alt="UNIGEN HEALTHCARE">
						<div class="text-left text-md-center">
							<p class="primary-box__description">We specialize in all areas of Human Resources consultancy</p>
							<button class="primary-box__button">Learn more</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="primary-box">
					<div class="primary-box__title">
						UNITALENT
					</div>
					<div class="primary-box__body">
						<img class="primary-box__img" src="<%= asset_path 'OCIFP90.png' %>" alt="UNIGEN HEALTHCARE">
						<div class="text-left text-md-center">
							<p class="primary-box__description">We provide recruitment and selection services for every industry</p>
							<button class="primary-box__button">Learn more</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
